.item {
  width: 500px;
  font-size: 20px;
  margin: 0 auto;
}

.itemName {
  font-weight: bold;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.line {
  border: 1px solid #f4f4f4;
}

.deleteButton {
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(28, 28, 120, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #fff;
  margin-top: -5px;
  border-radius: 4px;
}

.completed {
  text-decoration: line-through;
}
